 /* .label{
    color: white;
}

.form{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;

}

form input, form textarea {
    margin-bottom: 1rem ;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: black;
    border-color: black;
    color: #f4f4f4;
}  */

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  
.form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
.form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  