@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.project-heading{
    text-align: center;
    padding-bottom:24px;
    font-size: 48px!important;
    color: white;
    font-family: "Raleway", sans-serif;
}

.project-subheading{
    text-align: center;
    font-size: 16px!important;
    font-family: "Raleway", sans-serif;
}


.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px ;
}

.project-card{
    background: "black";
    padding: 1.2rem 1rem;
}

.project-card img{
    width: 100%;
}

.project-title{
    font-family: "Raleway", sans-serif;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.pro-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btns .btn{
    padding: 0.5rem 1rem;
}

.divider {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    margin: 20px auto; /* Center vertically in the parent container */
    max-width: 800px; /* Optional: set a max width for better alignment */
    width: 100%; /* Use 100% to stretch across the parent */
    box-sizing: border-box; /* Include padding and border in the width */
}


@media screen and (max-width:740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}

